@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

/* body {
  background: linear-gradient(#43e97b 0%, #38f9d7 100%);
} */

body {
  background: linear-gradient(to top, #43e97b 0%, #38f9d7 100%);
  height: 100vh;
}

.resume {
  width: 800px;
  background: #fff;
  margin: 25px auto;
  display: flex;
}

.left {
  background: #292b2f;
  width: 250px;
  padding: 0 20px;
}

.right {
  width: calc(100% - 250px);
}

.left .img-holder {
  text-align: center;
  padding: 20px 0;
}

.left .img-holder img {
  width: 200px;
  border-radius: 30px;
}
